<div class ="m1-auto messages__linkBox">
<%= form_tag messages_path, method: :get, class: 'messages_searchForm' do %>
  <%= select_tag :tag_id,
                 options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                 {
                    prompt: 'タグで絞込み',
                    class: 'form-control messages_select',
                    onchange: 'submit(this.form);'
                 }
   %>
<% end %>
</div>
<% @messages.each do |message| %>
  <div class="col-md-10 col-md-offset-1">
    <div class="message">
      <h2 class="message-title"><%= message.title %></h2>
      <%= link_to "Join News", message, class: "btn-custom" %>

      <% message.tags.each do |tag| %>
          <span class="badge badge-primary"><%= tag.name %></span>
      <% end %>
    </div>
  </div>
<% end %>

<%= paginate @messages %>
