<div class="col-md-10 col-md-offset-1">
    <div class="message-show">
      <h2><%= @message.title %></h2>
      <p class="message-posted-by"><%= time_ago_in_words(@message.created_at) %>前</p>
      <% @message.tags.each do |tag| %>
        <span class="badge badge-primary"><%= tag.name %></span>
      <% end %>

      <p class="message-desc"><%= @message.description %></p>

     <h3 class="comment-section-header">コメント一覧:</h3>
     <p><%= render @message.comments %></p>

     <h3 class="reply-to-msg">コメントを書く:</h3>
     <%= render 'comments/form' %>

      <div class="links btn-group">
        <%= link_to "戻る", root_path, class: "btn btn-default"  %>
        <% if user_signed_in? %>
          <% if @message.user_id == current_user.id %>
            <%= link_to "修正", edit_message_path(@message), class: "btn btn-primary"%>
            <%= link_to "削除", message_path(@message), method: :delete, 
              data: { confirm: "削除します。よろしいですか？"}, class: "btn btn-danger" %>
          <% end %>
        <% end %>
      </div>
  </div>
</div>
